
<h3>Listado de Paises</h3>
<hr>


@if( isLoading ) {
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
} @else {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Población</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let country of countries; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    <img [src]="country.flagSvg" class="w75">
                </td>
                <td>{{ country.name }}</td>
                <td>{{ country.capital }}</td>
                <td>{{ country.population }}</td>
            </tr>
        </tbody>
    </table>
}


